.search {
    width: 100%;
    height: auto;
    background: var(--panna);
}

.searchbar {
    background: var(--giallo);
    padding: 10% 0;
    width: 100%;
}

form {
    display: flex;
    justify-content: center;
}

form button {
    padding: 0 15px;
    cursor: pointer;
}

.corsi-wrapper {
    width: 100%;
    padding: 80px 12% 0 12%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 100vh;
    transform: translateY(-10%);
}

input {
    width: 45%;
    display: block;
    outline: none;
    border: 12px solid #fff;
    padding: 0.5rem;
    border-radius: 12px;
    margin: 0.8rem 0;
    color:  var(--blu);
    background: #e6e6e6;
    font-size: 1.6rem;
    font-weight: bold;
    height: 55px;
}

input::placeholder{
    color:  var(--blu);
}

input:active {
    outline: 2px solid var(--blu);
}

button img {
    height: 55px;
}

.result {
    font-size: 1.75rem;
    color: var(--blu);
}

.result span{
    font-weight: bold;
}

.pages {
    width: 30%;
    height: 60px;
    background: #fff;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    transform: translateY(-100%);
    font-size: 1.4rem;
    color: var(--blu);
    padding: 0 25px;
}