.top{
    display: flex;
    align-items: center;
    color: var(--blu);
    font-size: 50px;
    font-weight: bold;
}
.top p{
    transform: translateY(15px);
    font-size: 40px;;
}

.profilo{
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.boxTitle{
    padding-left: 10px;
    font-size: 25px;
    color:var(--blu)
    /* color: #274963; */
}

.boxFormSx{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    margin: auto;
    width: 500px;
    height: auto;
    text-align: center;
    margin-bottom: 50px;
    border-radius: 20px 20px 20px 20px;
    padding: 50px;
}

.boxFormDx{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    margin: auto;
    margin-top: auto;
    width: 500px;
    height: auto;
    text-align: center;
    margin-bottom: 50px;
    border-radius: 20px 20px 20px 20px;
    padding: 50px;
}

input[type=text], input[type=date] {
    width: 423px;
    height: 50px;
    margin-bottom: 23px;
    background: #F4F4F4 0% 0% no-repeat padding-box;
    border-radius: 33px;
    border: none;
    outline: none;
    text-indent: 20px;
    color: #000;
}

.link{
    margin: auto;
    padding-top: 10px;
    text-align: center;
    color:#274963;
}

.errori{
    text-align: center;
}