@import url("./reset.css");
@import url("./font.css");

:root {
    --giallo: #ffbd59;
    --blu: #3b6f96;
    --panna: #fef7e6;

    --fontCP-regular: "CodecPro";
    --fontCP-regularI: "CodecPro italic";
    --fontCP-bold: "CodecProBold";
    --fontCP-boldI: "CodecProBold italic";
}

body{
    font-family: var(--fontCP-regular);
    background-color: var(--giallo); /* test for navbar */
}

a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
}

button {
    all: unset;
}

